{% extends 'base.html' %}
{% block content %}
{% load static %}
<section class="shop_section layout_padding">
    <div class="container">
      <div class="heading_container heading_center">
        <h2 style="padding-right: 80px;">
          Category
        </h2>
      </div>
<div class="row" style="display:inline-block">
    <div class="col-sm-6 col-xl-3">
      <div class="box"style="display:inline-block; width: 250px; height: 300px" >
        <!-- <a href=""> -->
          <div class="img-box" >
            <img src="{% static 'images/w1.png'%}" alt="">
          </div>
          <div class="detail-box">
            <h6>

            </h6>
            <h6>
              
              <span>
                
              </span>
            </h6>
          </div>
          <div class="new" style="width: 250px;">
            <a href="{% url 'watchesviewset' %}" style="width: 250px; text-align: center;">
                Watch
            </a>
          </div>
        <!-- </a> -->
      </div>
    </div>
  </div>
<div class="row" style="display:inline-block; padding-left: 150px">
    <div class="col-sm-6 col-xl-3">
      <div class="box"style="display:inline-block; width: 250px; height: 300px;" >
        <!-- <a href=""> -->
          <div class="img-box" >
            <img src="{% static 'images/phone01.png'%}" alt="">
          </div>
          <div class="detail-box">
            <h6>

            </h6>
            <h6>
              
              <span>
                
              </span>
            </h6>
          </div>
          <div class="new" style="width: 250px;">
            <a href="{% url 'phoneviewset' %}" style="width: 250px; text-align: center;">
                Phone
            </a>
          </div>
        <!-- </a> -->
      </div>
    </div>
  </div>
  <div class="row" style="display:inline-block; padding-left: 150px">
    <div class="col-sm-6 col-xl-3">
      <div class="box"style="display:inline-block; width: 250px; height: 300px;" >
        <!-- <a href=""> -->
          <div class="img-box" >
            <img src="{% static 'images/laptop.png'%}" alt="">
          </div>
          <div class="detail-box">
            <h6>

            </h6>
            <h6>
              
              <span>
                
              </span>
            </h6>
          </div>
          <div class="new" style="width: 250px;">
            <a href="{% url 'laptopviewset' %}" style="width: 250px; text-align: center;">
                Laptop
            </a>
          </div>
        <!-- </a> -->
      </div>
    </div>
  </div>
  <div class="row" style="display:inline-block">
    <div class="col-sm-6 col-xl-3">
      <div class="box"style="display:inline-block; width: 250px; height: 300px" >
        <!-- <a href=""> -->
          <div class="img-box" >
            <img src="{% static 'images/ipod.png'%}" alt="">
          </div>
          <div class="detail-box">
            <h6>

            </h6>
            <h6>
              
              <span>
                
              </span>
            </h6>
          </div>
          <div class="new" style="width: 250px;">
            <a href="{% url 'ipodviewset' %}" style="width: 250px; text-align: center;">
                Ipod
            </a>
          </div>
        <!-- </a> -->
      </div>
    </div>
  </div>
  <div class="row" style="display:inline-block; padding-left: 150px">
    <div class="col-sm-6 col-xl-3">
      <div class="box"style="display:inline-block; width: 250px; height: 300px;" >
        <!-- <a href=""> -->
          <div class="img-box" >
            <img src="{% static 'images/PC.png'%}" alt="">
          </div>
          <div class="detail-box">
            <h6>

            </h6>
            <h6>
              
              <span>
                
              </span>
            </h6>
          </div>
          <div class="new" style="width: 250px;">
            <a href="{% url 'PCviewset' %}" style="width: 250px; text-align: center;">
                PC
            </a>
          </div>
        <!-- </a> -->
      </div>
    </div>
  </div>
  <div class="row" style="display:inline-block; padding-left: 150px">
    <div class="col-sm-6 col-xl-3">
      <div class="box"style="display:inline-block; width: 250px; height: 300px;" >
        <!-- <a href=""> -->
          <div class="img-box" >
            <img src="{% static 'images/Pods.png'%}" alt="">
          </div>
          <div class="detail-box">
            <h6>

            </h6>
            <h6>
              
              <span>
                
              </span>
            </h6>
          </div>
          <div class="new" style="width: 250px;">
            <a href="{% url 'headphonsviewset' %}" style="width: 250px; text-align: center;">
                Headphones
            </a>
          </div>
        <!-- </a> -->
      </div>
    </div>
  </div>
{% endblock %}